<!-- Idea comment modal content -->
<div class="modal" role="dialog" tabindex="-1">
  <div class="modal-header">
    <button class="btn btn-danger btn-mini pull-right" ng-click="$parent.cancelModal()" title="Cancel" type="button">
      <i class="icon-remove icon-white"></i>
    </button>
    <h4>
      <i class="icon-comment"></i>
      Edit comment</h4>
  </div>
  <div class="modal-body">
    <form name="commentForm" novalidate>
      <div style="display:none">
        <input name="type" ng-model="$parent.comment.type" type="text" ng-init="$parent.comment.type='comment'">
      </div>
      <div class="form-group" ng-class="{'text-error':commentForm.title.$invalid && commentSubmitted}">
        <label>Title</label>
        <div class="error-message" ng-show="commentForm.title.$invalid && $parent.commentSubmitted">Please
          enter a title for your comment</div>
        <input class="input-block-level form-control" maxlength=75 name="title" ng-model="$parent.comment.title" placeholder="Give a brief comment title... (maximum 75 characters)" required type="text">
      </div>
      <div class="form-group">
        <label>Comment</label>
        <textarea class="vote-comment" maxlength=500 name="comment.body" ng-model="$parent.comment.body" placeholder="Add your comment... (maximum 500 characters)" rows="4"></textarea>
      </div>
      <div class="form-group" ng-class="{'text-error':commentForm.classification.$invalid && commentSubmitted}">
        <label>Comment protective marking</label>
        <protective-marking header="true" type="full"></protective-marking>
        <div class="error-message" ng-show="commentForm.classification.$invalid && commentSubmitted">Please
          select a classification</div>
        <select class="form-control selectpicker classification-select" name="classification" ng-change="updateCommentPM()" ng-model="$parent.selectCommentClassification" ng-options="x.value as x.text for x in pm.classifications.list" required>
          <option value="">Select a classification...</option>
        </select>
        <button class="btn btn-link collapsed" data-target="#pm-options" data-toggle="collapse" type="button">
          <small>
            <span class="closed">show more options
              <i class="icon-chevron-down"></i>
            </span>
            <span class="opened">&nbsp;show less options
              <i class="icon-chevron-up"></i>
            </span>
          </small>
        </button>
      </div>
      <div class="collapse" id="pm-options">
        <div class="sidebyside">
          <label>Codewords
            <small class="muted">(hold CTRL to select multiple)</small></label>
          <select class="form-control codewords-select" multiple name="codewords" ng-change="updateCommentPM()" ng-model="comment.protective_marking.codewords" ng-options="x for x in pm.codewords.list">
            <option value="">None</option>
          </select>
        </div>
        <div class="sidebyside">
          <label>Descriptor</label>
          <select class="form-control" name="descriptor" ng-change="updateCommentPM()" ng-model="comment.protective_marking.descriptor" ng-options="x for x in pm.descriptors.list">
            <option value="">Nothing selected</option>
          </select>
        </div>
        <div class="sidebyside">
          <label>National Caveats</label>
          <div class="form-group">
            <select class="form-control" name="national_caveats" ng-change="updateCommentPM()" ng-model="comment.protective_marking.national_caveats_primary_name" ng-options="x for x in pm.national_caveats.list">
              <option value="">Nothing selected</option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-warning btn-small" ng-click="$parent.okModal(commentForm.$valid)" type="button">
      <i class="icon-comment icon-white"></i>
      Save comment</button> 
  </div>
</div>