<!-- Like comment modal content -->
<div class="modal" role="dialog" tabindex="-1">
  <div class="modal-header">
    <button class="btn btn-danger btn-mini pull-right" ng-click="$parent.cancelModal()" title="Cancel" type="button">
      <i class="icon-remove icon-white"></i>
    </button>
      <h4><i class="icon-thumbs-up"></i> Like this Idea</h4></h4>
  </div>
  <div class="modal-body">
    <form name="commentForm" novalidate>
      <div style="display:none">
        <input name="type" ng-model="$parent.comment.type" type="text" ng-init="$parent.comment.type='like'">
        <input name="title" ng-model="$parent.comment.title" type="text" ng-init="$parent.comment.title='Likes this idea'">
      </div>
      <div class="form-group">
        <label><p class="text-success">You can optionally add a brief comment to say why you like this idea  </p></label>
        <textarea class="vote-comment" rows=2 name="comment.body" ng-model="$parent.comment.body" placeholder="Add your comment... (maximum 140 characters)" maxlength=140></textarea>
      </div>
      <div class="form-group" ng-class="{'text-error':commentForm.classification.$invalid && commentSubmitted}">
        <label>Comment protective marking</label>
        <protective-marking header="true" type="full"></protective-marking>
        <div class="error-message" ng-show="commentForm.classification.$invalid && commentSubmitted">Please
          select a classification</div>
        <select class="form-control selectpicker classification-select" name="classification" ng-change="updateCommentPM()" ng-model="$parent.selectCommentClassification" ng-options="x.value as x.text for x in pm.classifications.list" ng-required="$parent.comment.body">
          <option value="">Select a classification...</option>
        </select>
        <button class="btn btn-link collapsed" data-target="#pm-options" data-toggle="collapse" type="button">
          <small>
            <span class="closed">show more options
              <i class="icon-chevron-down"></i>
            </span>
            <span class="opened">&nbsp;show less options
              <i class="icon-chevron-up"></i>
            </span>
          </small>
        </button>
      </div>
      <div class="collapse" id="pm-options">
        <div class="sidebyside">
          <label>Codewords
            <small class="muted">(hold CTRL to select multiple)</small></label>
          <select class="form-control codewords-select" multiple name="codewords" ng-change="updateCommentPM()" ng-model="comment.protective_marking.codewords" ng-options="x for x in pm.codewords.list">
            <option value="">None</option>
          </select>
        </div>
        <div class="sidebyside">
          <label>Descriptor</label>
          <select class="form-control" name="descriptor" ng-change="updateCommentPM()" ng-model="comment.protective_marking.descriptor" ng-options="x for x in pm.descriptors.list">
            <option value="">Nothing selected</option>
          </select>
        </div>
        <div class="sidebyside">
          <label>National Caveats</label>
          <div class="form-group">
            <select class="form-control" name="national_caveats" ng-change="updateCommentPM()" ng-model="comment.protective_marking.national_caveats_primary_name" ng-options="x for x in pm.national_caveats.list">
              <option value="">Nothing selected</option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success btn-small" ng-click="$parent.okModal(commentForm.$valid)" type="button">
      <i class="icon-thumbs-up icon-white"></i>
     I like this idea</button>
  </div>
</div>