<div class="well well-small view-name " ng-show="viewName !=='view-my'"><h5>Viewing - Projects</h5></div>
<div class="well well-small view-name author-highlight" ng-show="viewName ==='view-my'"><h5>Viewing - My Projects</h5></div>
<!-- switch view layout : buttons to switch view layout between summary / grid / list --> 
<div class="switch-view-layout" ng-class="viewLayout">
  <span>View as</span>
  <a class="btn btn-mini disabled summary" ng-click="switchView()" ng-href="#{{viewPath}}/summary{{viewParams}}"><i class="icon-tasks"></i> summary</a>
  <a class="btn btn-mini disabled grid" ng-click="switchView()" ng-href="#{{viewPath}}/grid{{viewParams}}"><i class="icon-th"></i> grid</a>
  <a class="btn btn-mini disabled list" ng-click="switchView()" ng-href="#{{viewPath}}/list{{viewParams}}"><i class="icon-list-alt"></i> list </a>
  <a class="btn btn-mini disabled list" ng-click="refresh()" title="Refresh the view"><i class="icon-refresh"></i></a>
</div>
<!-- END switch view layout -->

<!-- Tabs -->
<div style="tabs" ng-show="viewName !=='view-my'">
  <ul class="nav nav-tabs" >
    <li ng-class="{active: viewName =='view-latest'}" ng-show="!filterTag"><a ng-href="#/projects/view-latest/{{viewLayout}}"> {{projectsDisplayCount}} Latest </a></li>
    <li ng-class="{active: viewName =='view-popular'}" ng-show="!filterTag"><a ng-href="#/projects/view-popular/{{viewLayout}}"> {{projectsDisplayCount}} Most backed </a></li>
    <li ng-class="{active: viewName =='view-all'}" ng-show="!filterTag"><a ng-href="#/projects/view-all/{{viewLayout}}"> All {{projectsCount}} </a></li>
    <li ng-class="{active: viewName =='view-all'}" ng-show="filterTag"><a ng-href="">Projects tagged <strong>{{filterTagDisplay | truncate:30}}</strong> ({{projectsCount}}) <span ng-click="filterByTag('')" class="close-tag" title="Clear filter"><i class="icon-remove" ></i></span></a></li>
  </ul>
</div>

<div style="tabs" ng-show="viewName ==='view-my'">
  <ul class="nav nav-tabs" >
    <li ng-class="{active: status =='all'}" ng-show="!filterTag"><a ng-href="#/projects/view-my/{{viewLayout}}/?user={{user.id()}}&status__in=published,draft&limit=0"> All {{user.projectsCount + user.draftProjectsCount}} </a></li>
    <li ng-class="{active: status =='published'}" ng-show="!filterTag && user.projectsCount > 0"><a ng-href="#/projects/view-my/{{viewLayout}}/?user={{user.id()}}&status=published&limit=0"> {{user.projectsCount}} published </a></li>
    <li ng-class="{active: status =='draft'}" ng-show="!filterTag && user.draftProjectsCount > 0"><a ng-href="#/projects/view-my/{{viewLayout}}/?user={{user.id()}}&status=draft&limit=0"> {{user.draftProjectsCount}} draft </a></li>
  </ul>
</div>

<div class="clearfix"></div>
<div class="loading" ng-show="viewIsLoading">Loading. Please wait....
  <div class="progress progress-info progress-striped active"><div class="bar" style="width:100%"></div></div>
</div>