<!-- (c) Crown Copyright 2014 Defence Science and Technology Laboratory UK 
# Author: Rich Brantingham  -->

{% extends "base.html" %}

{% load static %}

{% block title_extra %} Reset Password {% endblock %} 

{% block main_block %}

    <div class="form-container">

    {% if form.errors %}
        <!-- <p>Password Reset Errors</p> -->
    {% endif %}

    <form id="passwordReset" class="form-auth" action="{% url "auth_password_reset" %}" method="POST">{% csrf_token %}
      <h2 class="form-auth-heading">Forgotten your password?</h2>
      <p>Enter your email address below, and we'll email instructions for setting a new one.</p>
      <br/>
      
      {% autoescape off %}
        {{ form.email.errors }}
      {% endautoescape %}
      <label>{{ form.email.label }}</label>
      {{ form.email }}

      <br/>
      <button class="btn btn-large btn-primary" type="submit">Submit</button>
       <input type="hidden" name="next" value="{{ next }}" />
    </form>
    </div> <!-- /container -->

{% endblock %}

{% block extra_js %}
  <script src="{% static "auth_addin_app/js/authForm.js" %}" type="text/javascript"></script>
{% endblock %}
