<!-- (c) Crown Copyright 2014 Defence Science and Technology Laboratory UK 
# Author: Rich Brantingham  -->

<!DOCTYPE html>

<html lang="en">
  <head>
  
  </head>

  <body>

	{% autoescape off %}
	<h1>{{ site_name }} Password Reset</h1>
	<p>
		Someone tried to reset the password for {{ site_name }} using this email account. If you didn't request a password reset, just ignore this email.
	</p>
	<h3>
		Click
		<a href="{{ protocol }}://{{ domain }}{% url "auth_password_reset_confirm" uidb36=uid token=token %}">here</a>
		to change your password for {{ site_name }}.
	</h3>
	{% block reset_link %}
	<p>
		Or copy and paste this url into your browser: {{ domain }}{% url "auth_password_reset_confirm" uidb36=uid token=token %}
	</p>
	{% endblock %}
	<br><br/>
	
	<h3>
		{{ site_name }} team
	</h3>
	{% endautoescape %}
  </body>
</html>
