{% extends "base.html" %}
{% load auth_tags %}
{% block title_extra %} Password Reset {% endblock %} 

{% block main_block %}
<div class="form-container">
	<div class="form-auth" >
		<h2>
			Forgotten your password?
		</h2>
		</br>
		<p style="font-size:120%">
			Please get in contact with {% admin_name %}
			</br> 
			<a href="mailto:{% admin_email %}?subject={{site_name}} Password Reset&body=Hi, 
			%0D%0A%0D%0A
			Please reset my password for {{site_name}}.">
			by email</a> (if possible)
			</br>
			or by calling: {% admin_phone %}.
		</p>
		</br>
		<p>
			<b>Why can't you reset via email?</b> We would like to manage password resets via email, but 
			this network either does not have an email server configured or the site
			does not have permission to send email. Sorry!
		</p>
	</div>
</div>
{% endblock %}