<!-- (c) Crown Copyright 2014 Defence Science and Technology Laboratory UK 
# Author: Rich Brantingham  -->

{% extends "base.html" %}

{% block title_extra %} Reset Password {% endblock %} 

{% block main_block %}

    <div class="form-container">

    {% if validlink %}

      <form class="form-auth" action="" method="POST">{% csrf_token %}
        <h2 class="form-auth-heading">Password Reset Confirmation</h2>

        {% if form.errors %}
            <p class="text-warning">Password Reset Errors</p>
        {% endif %}
        <br/>
        
       	{% autoescape off %}
           	{{ form.new_password1.errors }}
       	{% endautoescape %}
       	<label>{{ form.new_password1.label }}:</label>
        {{ form.new_password1 }}
      
        {% autoescape off %}
        {{ form.new_password2.errors }}
        {% endautoescape %}
        <label>{{ form.new_password2.label }}:</label>
        {{ form.new_password2 }}
  
        <br/><br/>
        <button class="btn btn-large btn-primary" type="submit">Submit</button>
         <input type="hidden" name="next" value="{{ next }}" />
      </form>
      
    {% else %}
      
    <h2>Password Reset Unsuccessful</h2>
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    
    {% endif %}
    
    </div> <!-- /container -->

<script type="text/javascript">document.getElementById("id_new_password1").focus();</script>

{% endblock %}
