<!-- (c) Crown Copyright 2014 Defence Science and Technology Laboratory UK 
# Author: Rich Brantingham  -->

{% extends "base.html" %}

{% load static %}

{% block title_extra %} Change Password {% endblock %} 

{% block main_block %}

    <div class="form-container">

    <form id="passwordChange" class="form-auth" action="{% url "auth_password_change" %}" method="POST">{% csrf_token %}
      <h2 class="form-auth-heading">Password Change</h2>
      {% if form.errors %}
        <div class="text-error">Password Change Errors
        <p>
        {% autoescape off %}
          {{ form.old_password.errors }}
        {% endautoescape %}
        </div>
      {% endif %}
      

        <label>{{ form.old_password.label }}</label>
        {{ form.old_password }}
        
        {% autoescape off %}
        {{ form.new_password1.errors }}
        {% endautoescape %}
        <label>{{ form.new_password1.label }}</label>
        {{ form.new_password1 }}
      
      {% autoescape off %}
        {{ form.new_password2.errors }}
      {% endautoescape %}
        <label>{{ form.new_password2.label }}</label>
        {{ form.new_password2 }}

      <br/><br/>
      <button class="btn btn-large btn-primary" type="submit">Submit</button>
       <input type="hidden" name="next" value="{{ next }}" />
    </form>
    </div> <!-- /container -->
<script type="text/javascript">document.getElementById("id_old_password").focus();</script>

{% endblock %}

{% block extra_js %}
  <script src="{% static "auth_addin_app/js/authForm.js" %}" type="text/javascript"></script>
{% endblock %}

