<!-- (c) Crown Copyright 2014 Defence Science and Technology Laboratory UK 
# Author: Rich Brantingham  -->

{% extends "base.html" %}

{% block title_extra %} Password Reset Successful {% endblock %} 

{% block main_block %}

<div class="form-container">
  <div class="form-auth" >
  <h2>
    Password reset successful.
  </h2>
  <p>
    We've emailed you instructions for setting your password to the email address you provided. You should be receiving it shortly. 
  </p>
  <p>
  <a href="{% url "auth_login"%}">Return to login screen</a>.
  </p>
  </div>
</div>
{% endblock %}
