<!-- (c) Crown Copyright 2014 Defence Science and Technology Laboratory UK 
# Author: Rich Brantingham  -->

<p>
	<b>{{ site_name }}</b> is a prototype application, which means that although we strive to build great software, it is not always production grade and does not come with 24/7 support. 
</p>

<p> 
	This approach means that software is delivered and developed quickly and has much greater input from users than traditional approaches. 
</p>

<p>
	Please read our <a href="{% url "auth_addin_app.views.terms_of_service" %}" >description of service</a>
	so that you understand the limitations of the application and some of the benefits of working in this way.
</p>

{% comment %}
<p class="text-warning">
	As we find and fix bugs and add new features, we'll publish the changes <a href="{% url "release_info" %}" >here</a>.
</p>
{% endcomment %}
