<!-- (c) Crown Copyright 2014 Defence Science and Technology Laboratory UK 
# Author: Rich Brantingham  -->

{% extends "base.html" %}

{% block title_extra %} Registration Complete {% endblock %} 

{% block main_block %}

<div class="form-container">
  <div class="form-auth" >
    <h2>
      Thank you!
    </h2>
    <p>
      We've created an account for you. You can now use your account to log in. 
    </p>
    <p>
      Visit <a href="{% url "auth_login"%}">the log in page</a> to continue.
    </p>
  </div>
</div>
{% endblock %}
