<!-- (c) Crown Copyright 2014 Defence Science and Technology Laboratory UK 
# Author: Rich Brantingham  -->

{% extends "base.html" %}
{% load auth_tags %}
{% block title_extra %} Registration Complete {% endblock %} 

{% block main_block %}

<div class="form-container">
  <div class="form-auth" >
    <h2>
      Thank you!
    </h2>
    <p style="font-size:110%">
      We've created an account for you. We strongly suggest your store your password in a secure place. 
      You can now <a href="{% url "auth_login" %}">login</a>. 
    </p>
    <p style="font-size:110%">
		If you have any difficulties logging in or you forget your password, please get 
		in contact. Your administrator is <b>{% admin_name %}</b> and they
		can be reached on either <b>{% admin_email %}</b> or <b>{% admin_phone %}</b>.
    </p>
  </div>
</div>
{% endblock %}
