<div class="well well-small view-name " ng-show="viewName !=='view-my'"><h5>Viewing - Ideas</h5></div>
<div class="well well-small view-name author-highlight" ng-show="viewName ==='view-my'"><h5>Viewing - My Ideas</h5></div>
<!-- switch view layout : buttons to switch view layout between summary / grid / list --> 
<div class="switch-view-layout" ng-class="viewLayout">
  <span>View as</span>
  <a class="btn btn-mini disabled summary" ng-click="switchView()" ng-href="#{{viewPath}}/summary{{viewParams}}"><i class="icon-tasks"></i> summary</a>
  <a class="btn btn-mini disabled grid" ng-click="switchView()" ng-href="#{{viewPath}}/grid{{viewParams}}"><i class="icon-th"></i> grid</a>
  <a class="btn btn-mini disabled list" ng-click="switchView()" ng-href="#{{viewPath}}/list{{viewParams}}"><i class="icon-list-alt"></i> list </a>
  <a class="btn btn-mini disabled list" ng-click="refresh()" title="Refresh the view"><i class="icon-refresh"></i></a>
</div>
<!-- END switch view layout -->

<!-- Tabs -->
<div style="tabs" ng-show="viewName !=='view-my'">
  <ul class="nav nav-tabs" >
    <li ng-class="{active: viewName =='view-latest'}" ng-show="!filterTag"><a ng-href="#/ideas/view-latest/{{viewLayout}}"> {{ideasDisplayCount}} Latest </a></li>
    <li ng-class="{active: viewName =='view-popular'}" ng-show="!filterTag"><a ng-href="#/ideas/view-popular/{{viewLayout}}"> {{ideasDisplayCount}} Most popular </a></li>
    <li ng-class="{active: viewName =='view-all'}" ng-show="!filterTag"><a ng-href="#/ideas/view-all/{{viewLayout}}"> All {{ideasCount}} </a></li>
    <li ng-class="{active: viewName =='view-all'}" ng-show="filterTag"><a ng-href="">Ideas tagged <strong>{{filterTagDisplay | truncate:30}}</strong> ({{ideasCount}}) <span ng-click="filterByTag('')" class="close-tag" title="Clear filter"><i class="icon-remove" ></i></span></a></li>
  </ul>
</div>

<div style="tabs" ng-show="viewName ==='view-my'">
  <ul class="nav nav-tabs" >
    <li ng-class="{active: status =='all'}" ng-show="!filterTag"><a ng-href="#/ideas/view-my/{{viewLayout}}/?user={{user.id()}}&status__in=published,draft&limit=0"> All {{user.ideasCount + user.draftIdeasCount}} </a></li>
    <li ng-class="{active: status =='published'}" ng-show="!filterTag && user.ideasCount > 0"><a ng-href="#/ideas/view-my/{{viewLayout}}/?user={{user.id()}}&status=published&limit=0"> {{user.ideasCount}} published </a></li>
    <li ng-class="{active: status =='draft'}" ng-show="!filterTag && user.draftIdeasCount > 0"><a ng-href="#/ideas/view-my/{{viewLayout}}/?user={{user.id()}}&status=draft&limit=0"> {{user.draftIdeasCount}} draft </a></li>
  </ul>
</div>

<div class="clearfix"></div>
<div class="loading" ng-show="viewIsLoading">Loading. Please wait....
  <div class="progress progress-info progress-striped active"><div class="bar" style="width:100%"></div></div>
</div>