<div class="nav-classification"><max-protective-marking></max-protective-marking></div>
<div class="container">
  <div class="row">
  
    <!-- left hand column  -->
    <div class="span12">
      <div class="well feedback-title">
  
        <!-- protective marking -->
        <div class="prot-marking pull-right">
          <protective-marking type="compact"></protective-marking>
        </div>

          <h1 ng-class="{'draft' : feedback.status === 'draft','deleted' : feedback.status === 'deleted', 'hidden-doc' : feedback.status === 'hidden'}">
            <span ng-show="feedback.status === 'draft'">DRAFT : </span>
            <span ng-show="feedback.status === 'deleted'">DELETED : </span>
            <span ng-show="feedback.status === 'hidden'">HIDDEN : </span> {{feedback.title}}
          </h1>
          <!-- time created and contributor -->
          <small>
            <span class="contributor">{{feedback.contributor_name}}</span>
            <span class="contributor-time" popover="Feedback submitted by {{feedback.contributor_name}} at {{feedback.created | date: 'HH:mm' }} on {{feedback.created | date: 'dd/MM/yyyy' }}" popover-trigger="mouseenter">{{feedback.informal_created}}</span>
          </small>
          <button class="btn btn-mini disabled pull-right" popover-trigger="mouseenter" popover="Share this feedback via email" ng-click="shareFeedbackEmail(feedback)" ng-show="feedback.status==='published'"><i class="icon-envelope" ></i> share</button>
         
      </div>
      <div class="well description">
        <div class="pm-text">
          <protective-marking type="text"></protective-marking>
        </div>
        <div ng-bind-html="feedback.body"></div>
      </div>
      <div class="form-buttons">
        <span ng-show="user.isAuthor || user.isAdmin">
          <button class="btn btn-small btn-info push-right" ng-click="editFeedback()" ng-show="feedback.status === 'published'"><i class="icon-pencil icon-white"></i> Edit </button>
          <button class="btn btn-small btn-warning push-right" ng-click="editFeedback()" ng-show="feedback.status === 'draft'"><i class="icon-pencil icon-white"></i> Edit draft </button>
          <button class="btn btn-small btn-warning push-right" ng-click="editFeedback()" ng-show="feedback.status === 'hidden'"><i class="icon-pencil icon-white"></i> Edit hidden </button>
          <!-- <button class="btn btn-small btn-danger push-right" ng-click="confirmSoftDeleteFeedback()" ng-show="feedback.status !=='deleted'"><i class="icon-trash icon-white"></i> Delete </button> -->
          <button class="btn btn-small btn-danger push-right" ng-click="confirmDeleteFeedback()" ng-show="user.isAdmin"><i class="icon-trash icon-white"></i> Delete Permanently </button>
        </span>
          <button class="btn btn-small btn-primary push-right" ng-click="closeFeedback()"><i class="icon-remove icon-white"></i> Close </button>
        </div>
    </div><!-- end left hand column -->
    
    <!-- right hand column -->
    <div class="span12">
      <div class="well well-small" ng-show="feedback.status==='published'">
      
        <a class="btn btn-mini disabled btn-inverse clickable ng-scope ng-binding" popover="Click to add your comment on this feedback" popover-title="{{feedback.comment_count}} comments" popover-trigger="mouseenter" popover-placement="right" ng-href="" ng-click="comment.add(feedback.id, 'comment', pm, user, 'feedback')"><i class="icon-comment icon-white"></i> {{feedback.comment_count}} Comments </a>
      </div>
      <div class="well comment clearfix" ng-repeat="comment in feedback.comments" ng-class="{'author-highlight':user.id() === comment.user}">
        <small>
          <div  class="pull-left"><i class="icon-comment"></i>
          <span class="contributor">{{comment.contributor_name}}</span>
          <span class="contributor-time" tooltip="Comment added at {{comment.created | date: 'HH:mm' }} on {{comment.created | date: 'dd/MM/yyyy' }}">{{comment.informal_created}}</span>
          </div>
          <div class="pull-right">
          <comment-protective-marking></comment-protective-marking>
          </div>
          <div class="clearfix"></div>
          <div>
          <p class="comment-body">
            <span class="comment-title">{{comment.title}}</span> 
            {{comment.body}}
          </p>
           
          <div ng-show="user.id() === comment.user">
            <button class="btn btn-mini btn-tag disabled clickable" tooltip="Edit this comment" ng-click="editComment(comment.resource_uri)"><i class="icon-pencil"></i></button>
            <button class="btn btn-mini btn-tag disabled clickable" tooltip="Delete this comment" ng-click="deleteComment(comment.resource_uri)"><i class="icon-trash"></i></button>
          </div>

          </div>
        </small>
      </div><!--  -->
      <div class="form-buttons">
      <a class="btn btn-small btn-inverse clickable ng-scope ng-binding" ng-href="" ng-click="comment.add(feedback.id, 'comment', pm, user, 'feedback')"><i class="icon-comment icon-white"></i> Add a comment </a>
      </div>
    </div><!-- end right hand column -->
    
  </div><!-- end row -->
</div>


  <div class="popup-alert confirm-soft-delete-feedback alert alert-alert">
    <button class="btn btn-danger btn-close btn-mini pull-right" ng-click="closePopupAlert()" title="Cancel" type="button">
      <i class="icon-remove icon-white"></i>
    </button>
    <h4><i class="icon icon-trash"></i> Delete feedback?</h4>
    <br />
    <p>Are you sure you want to delete this feedback? </p><br />
    <button class="btn btn-warning pull-left" ng-click="closePopupAlert();softDeleteFeedback()" title="Confirm delete">  Yes  </button>
    <button class="btn btn-danger pull-right" ng-click="closePopupAlert()" title="Cancel" >  No  </button>
  </div>

  <div class="popup-alert confirm-delete-feedback alert alert-danger">
    <button class="btn btn-danger btn-close btn-mini pull-right" ng-click="closePopupAlert()" title="Cancel" type="button">
      <i class="icon-remove icon-white"></i>
    </button>
    <h4><i class="icon icon-trash"></i> Delete feedback?</h4>
    <br />
    <p>Are you sure you want to <strong>permanently delete</strong> this feedback? </p><br />
    <button class="btn btn-warning pull-left" ng-click="closePopupAlert();deleteFeedback()" title="Confirm delete">  Yes  </button>
    <button class="btn btn-danger pull-right" ng-click="closePopupAlert()" title="Cancel" >  No  </button>
  </div>
  
  <div class="popup-alert feedback-deleted alert alert-info">
    <button class="btn btn-danger btn-close btn-mini pull-right" ng-click="closePopupAlert();closeFeedback(true)" title="Cancel" type="button">
      <i class="icon-remove icon-white"></i>
    </button>
    <h4><i class="icon icon-trash"></i> Feedback deleted.</h4>
    <br />
    <p>This feedback has now been deleted</p>
  </div>